<div class="grid-divider" *ngIf="connections.length>0">

    <div class="video-window">
        <div>
            <video [srcObject]="stream" autoplay="true"  [volume]="0"></video>
        </div>
        <ng-container *ngFor="let connection of connections">
            
        <div *ngIf="connection.stream"> 
            <video [srcObject]="connection.stream" id="peer-video" autoplay="true" playsInline controls="true" ></video>
            
        </div>
    </ng-container>

    </div>
    <div class="chat-window">
        <div class="chat-scroller">
            <ng-container *ngIf="chatCommunication" >
                <ng-container *ngFor="let comm of chatCommunication">
                <div class="info" *ngIf="comm.type=='info'">
                   " {{comm.name}}  " &nbsp;Joined&nbsp;call
                </div>

                <div class="chat-container" *ngIf="!comm.type" >
                    <div [ngClass]="{
                'chat-users':comm.connectionId==userId,'chat-others':comm.connectionId!=userId
            }" class="chat">
                        <span>{{comm.name}}</span>
                        <span>{{comm.message}}</span>
                    </div>
                </div>

            </ng-container>
        </ng-container>
        </div>

        <div class="input-field col s12 textBox">
            <textarea [formControl]="textController" style="color: white;" rows="1" (keyup)="processText($event)" placeholder="type to text something">

           </textarea>
        </div>
    </div>
    <div id="action-container">
              
        <ng-container *ngIf="this.stream">
        <img id="microphone"  (click)="setMicState(false)" *ngIf="this.micState" src="/assets/Img/mic.png">
        <img id="microphone"  (click)="setMicState(true)"  *ngIf="!this.micState" src="/assets/Img/mute.png">
         </ng-container>
    <img (click)="EndCall()" src="/assets/Img/hangup.png" id="hangup">
    <ng-container *ngIf="this.stream">
        <img id="microphone"  (click)="setVCState(true)" *ngIf="!this.VcState"  src="/assets/Img/camera.png">
        <img id="microphone"  (click)="setVCState(false)"  *ngIf="this.VcState"  src="/assets/Img/camera_off.png">
         </ng-container>
</div>
</div>
<div class="NewChatRequest" *ngIf="!connections?.length">
    <div class="intro-container">
        <div >
           let's Randummmm
        </div>
        <div>
            <img src="/assets/Img/convoBoo.png">
        </div>
        
        <div>
        <ng-container *ngIf="!LiveRequest">
            Ready to shine? One click away from connecting with your perfect chat companion. <br>
            Hit &nbsp;'Go Live'&nbsp; and let the magic begin!
        </ng-container>
        <ng-container *ngIf="LiveRequest">
            Wait till we are choosing you a Chat companion
        </ng-container>
        </div>
        <div style="margin-top: 70px;">
            <ng-container *ngIf="endCall">
                Call Ended
            </ng-container>
        </div>
        <div>
            <button *ngIf="!LiveRequest" class="Std-Buttons" (click)="GoLive()">GO LIVE</button>
            <img *ngIf="LiveRequest" src="/assets//Img/load_pikachu.gif" class="pikachu">
        </div>
        
    </div>
</div>