$IntroFontStyle:"Satisfy", cursive;



.Connect-Now{
    transition: cubic-bezier(1, 0, 0, 1) 2s ease;
    transition: ease 0.1s ;
    display: grid;
    height: 100vh;
    div{
        display: flex;
        flex-direction: column;
        div:nth-child(1){
            height: 300px;
            margin-top: 70px;

        }
        div{
            display: flex;
            text-align: center;
            justify-content: center;
            padding:50px auto;
            font-family: $IntroFontStyle;
            font-size: 2.3rem;
            font-weight: 550;
            color: rgb(252, 255, 241);
           
           
            
            
        }
        .Actions{
            height: 150px;
            margin: 20px auto;
                display: grid;
                button{
                    margin: auto;
                }
            }
        
    }
    .intro-img{
        
        width: 250px;    
        margin-top: 30px;
        margin: auto;
        mix-blend-mode:hard-light;
    }

  
}

.Explore{
    transition:  2s ease;
    display: grid !important;
    padding: 50px 130px;
    grid-template-columns: 50% 50%;
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    div{
        padding: 20px 20px 30px 30px ;
        border: rgb(136, 123, 123) 1px solid;
        border-radius: 30px ;
        cursor: pointer;
        transition: ease-in-out 0.25s;
        p:first-child{
            font-weight: bold;
           
        }


 
    }
    div:hover{
        background-color: white;
        color: black;
      
    }
    .secure-img{
        height: 150px;
    }
    @media screen and (max-width:900px) {
        grid-template-columns: 100%;
    }
}



.side-Nav{
    position: fixed;
    top:30vh;
    width:70px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
        background-color: aliceblue;
        margin: 13px auto;
        width: 30px;
        height: 30px!important;
        border-radius: 100%;
        display: grid;
        place-items: center;
        i{
            z-index: 1;
            color: black;
        }
        transition: 0.2s ease-in;

    }
    span[data-title]:hover{
        background-color: transparent;
    }
    span.active{
        scale:1.4
    }
    span.active:hover{
        scale: 1.4;
    }
    span:hover{
        cursor: pointer;
        scale:1.3;
    }
}