<div class="Intro-Section">
    <div>
        <div>
            <img loading="eager" src="/assets/Img/Randummmm.png" class="intro-img">
        </div>
        <div>
            hey, Cutiee getting Bored ?
            <br>
            Let's Randummmm
        </div>
    </div>
    <div class="Actions">
        <button class="Std-Buttons" routerLink="/chatSetup"> Connect Now  </button>
        <button class="Std-Buttons"> Create/Join Room </button>
        <button class="Std-Buttons"> Explore More  </button>
        
     </div>

</div>
