.Guidelines{
    padding: 40px;
    padding-bottom:  100px;
    
    li{
        margin: 20px;
        font-size: 14px;

    }
    .action-grid{
        display: flex;
        align-items: center;
        height: 9cap;
        justify-content: flex-end;
    }
    label{
        color: white;
        font-weight: bold;
    }

   
}